@media(max-width:980px) { 

  .descr-text {
  	width: 100%;
  	text-align: center;
  	display: block;
  	position: relative;
  	margin: 20% auto 0 auto;
  	padding: 0 10px;
  	h1 {
    font-size: 3rem;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}
h1:after{
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    bottom: -20px;
    left: 25%;
    //border-bottom: 1px solid red;
}
  }

  .about {
	padding-right: 50px;
	padding-left: 50px;
	text-align: center;
 }
}

@media(max-width:639px) { 
header {
	background-position: center bottom;
	max-height: 400px;
	.fixed  {
	position: relative;
	
}
.myfixed {
		//display: none;
	}
}
.title-bar {
	position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}


}
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

@media(max-width:360px) { 
	.about {
		padding-left: 0;
		padding-right: 0;
	}
  .descr-text {
  	width: 100%;
  	text-align: center;
  	display: block;
  	position: relative;
  	margin: 20% auto 0 auto;
  	padding: 0 10px;
  	h1 {
  	font-size: 1.7rem;
  }
}
}